body {
  font-family: 'Open Sans', sans-serif;

  text-align: center;
  margin: 0;
}

#hero {
width: 592px;
margin: 0 ;
margin: 0 auto 72px;
}

#hero img {
  margin-bottom: auto;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;  
  margin-bottom: 32px;
}

h1 span {
font-weight: bold;
}

span, a {
color: #FF9900;
}

p, #footer{
color: #7D7987;
font-size: 14px;
line-height: 28px;
margin-bottom: 72px;
}

a {
  text-decoration: none;
}

#footer a + a{
margin-left: 28px;
}
#footer {
  margin-bottom: 33px;
}

#line {
  margin:0 auto 8px;
  border-top: 1px solid #ECEFF2;

  width: 568px;
  bottom: 8px;
  display: block;

}
#balls {
position:fixed;
width: 99px;
bottom: 0px;
right: 0px;
}